[workspace]
members = [".", "erased-serde"]

[package]
name = "bevy_save"
version = "0.9.1"
edition = "2021"
description = "A framework for saving and loading game state in Bevy."
license = "MIT OR Apache-2.0"
readme = "README.md"
repository = "https://github.com/hankjordan/bevy_save"

[dev-dependencies]
bevy = { version = "0.12" }
bevy_ecs_tilemap = "0.11"
bevy-inspector-egui = "0.21"
serde_json = "1.0"

[features]
default = ["bevy_asset", "bevy_render", "bevy_sprite"]
bevy_asset = ["bevy/bevy_asset"]
bevy_render = ["bevy/bevy_render"]
bevy_sprite = ["bevy/bevy_sprite"]
bevy_ecs_tilemap = ["dep:bevy_ecs_tilemap"]

[target.'cfg(target_arch = "wasm32")'.dependencies]
bevy = { version = "0.12", default-features = false, features = ["webgl2"] }
web-sys = { version = "0.3", default-features = false, features = ["Storage", "Window"] }
wasm-bindgen = { version = "0.2", default-features = false }
serde_json = "1.0"

[dependencies]
bevy_save-erased-serde = { path = "erased-serde", version = "0.4.0" }
bevy = { version = "0.12", default-features = false }
bevy_ecs_tilemap = { version = "0.11", optional = true }
rmp-serde = "1.1"
serde = { version = "1.0" }
platform-dirs = "0.3"
lazy_static = "1.4"
thiserror = "1.0"
